* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}

header nav .logo {
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: none;
}

header nav .logo span {
  color: #c06b3e;
}

header nav > ul:first-of-type {
  display: flex;
  gap: 1.8rem;
  list-style: none;
}

header nav > ul:first-of-type a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

header nav > ul:first-of-type a:hover {
  color: #c06b3e;
}

/* Section */

main section.hero-section {
  height: 100vh;
  background-image: url("../assets/coffee.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1.4rem;
}

section.hero-section .content {
  margin: 0 auto;
  width: 100%;
}

section.hero-section .content h2 {
  font-size: 3rem;
  max-width: 70%;
  line-height: 1.4;
  text-transform: capitalize;
}

section.hero-section .content p {
  font-weight: 300;
  max-width: 70%;
  margin-top: 0.9rem;
}

section.hero-section .content button {
  background-color: #fff;
  padding: 0.85rem 1.8rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-top: 1.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

section.hero-section .content button:hover {
  background-color: #c06b3e;
  color: #fff;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #000;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  /* Navbar */

  #close-menu-btn,
  #hamburger-btn {
    display: block;
  }

  nav > ul:first-of-type {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    background-color: #fff;
    width: 250px;
    flex-direction: column;
    padding: 70px 40px;
    font-size: 16px;
  }

  header.toggle-navbar nav > ul:first-of-type {
    left: 0;
  }

  header.toggle-navbar nav > ul:first-of-type a {
    color: #000;
  }

  header.toggle-navbar::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  /* Section */

  section.hero-section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.3rem;
  }

  section.hero-section .content h2 {
    max-width: 100%;
  }

  section.hero-section .content p {
    max-width: 100%;
  }
}
